@import "../../config/config";

.frontpage__content {
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  .frontpage__text {
    margin: auto 0;

    .frontpage__title {
      font-size: 5rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 3rem;
      color: var(--black);

      @include media-max(lg) {
        font-size: 4rem;
      }
    }
    .Typewriter__wrapper {
      font-size: 7rem;
      font-weight: 600;
      color: var(--orange);
      
      @include media-max(lg) {
        font-size: 5rem;
      }
      @include media-max(xs) {
        font-size: 2.8rem;
      }
    }
    .Typewriter__cursor {
      font-size: 9rem;
      font-weight: 100;
      color: var(--orange);
      
      @include media-max(lg) {
        font-size: 6rem;
      }
      @include media-max(xs) {
        font-size: 4rem;
      }
    }
  }
  .language {
    position: relative;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    max-width: 300px;
    width: 100%;
    margin-bottom: 7rem;
    
    @include media-max(xl) {
      max-width: 230px;
    }
  }

  .language a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: var(--box-shadow);
    margin: 0.5rem;
    font-size: 2rem;
    color: var(--black);
    border-radius: 0.5rem;
    position: relative;

    .frontpage__img {
      width: 3.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .language a:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--orange);
  }
}
