/* ****** HELP ****** */
.piros {
  border: 1px solid red;
}

.sarga {
  border: 1px solid yellow;
}

.fekete {
  border: 1px solid black;
}

.zold {
  border: 1px solid green;
}

.feher {
  border: 1px solid white;
}

/* ****** HELP END ****** */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0;
  line-height: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  outline: none;
}

input, select {
  font-size: 100%;
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2 / 3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40 / 71) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375 / 667) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="tel"], input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9 / 16) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="tel"], input[type="url"] {
    font-size: 16px;
  }
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.services .box-container .box i {
  font-size: 4rem;
  padding-bottom: 5rem;
  color: #fff;
}

.services .box-container .box h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: var(--black);
}

.services .box-container .box p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--light-color);
  text-transform: none;
}

.services .box-container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--orange);
  z-index: -1;
  clip-path: circle(9rem at 5% 0%);
  transition: 0.3s linear;
}

.services .box-container .box:hover * {
  color: #fff;
}

.services .box-container .box:hover::before {
  clip-path: circle(100%);
}
/*# sourceMappingURL=services.css.map */