@import "../../../config/config";

.navbar {
  margin-top: 3rem;
  padding-top: 1rem;

  a {
    display: block;
    margin: 1.5rem 0;
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    box-shadow: var(--box-shadow);
    color: var(--black);
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      box-shadow: var(--box-shadow-inset);
      color: var(--orange);
    }
  }
}
