.progress {
  flex: 1 1 40rem;
    padding-bottom: 5rem;

  h5 {
    color: var(--black);
    font-weight: normal;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bar {
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 1rem 0;

    span {
      display: block;
      height: 100%;
      background: var(--orange);
      border-radius: 5rem;
    }
  }
}