@import "../../config/config";

.theme__toggler {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  z-index: 1000;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--black);
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--orange);
    box-shadow: var(--box-shadow-inset);
  }
}
